
#indegene-mod-admin-settings input{
  border: none;
  border-bottom: 1px solid gray;
  background: none;
  box-shadow: none;
  margin-bottom: 30px;
}

#indegene-mod-admin-settings #edit-submit{
  color: black;
  background-color: #4ec6ee;
}

.config-form{
  width: 25%;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 0%);
  padding: 50px;
  border-radius: 10px;
  border: 1px solid gray;
  background-color: rgb(240, 240, 240);
}
