<div class='myview'>
    <div class='myviewimg'>
        {{ fields.field_capa_img.content }}
    </div>
    <div class='myviewtitle'>
        <h3> {{ fields.field_capa_title.content }} </h3>
    </div>
    <div class='myviewdesc'>
        {{ fields.field_capa_desc.content }}
    </div>
</div>

