<div class="banner-cont">
<div class="container banner-margin">
    <div class="banner-title">
        <h2> {{ content.field_banner_title[0]['#text']}} </h2>
    </div>
    <div class="banner-img">
        <img src='{{file_url(paragraph.field_banner_img.entity.fileuri)}}' /><br>
    </div>
</div>
</div>
{# {{ kint(content) }} #}
